<div class="test-container">
  <ion-title>{{title}}</ion-title>
  <div *ngFor="let val of this.valores" [ngClass]="{'normal-size': !useAllSpace, 'full-size': useAllSpace}" class="general" (click)="onClick()">
    <ion-card>
      <ion-card-title>{{val["id"]}}</ion-card-title>

      <ion-card-content [ngClass]="{'azul': useColor, 'rojo': !useColor}">
        {{val["nombre"]}} <!-- Already using string interpolation -->
        <br>
        <img [src]="src" alt="imagen">
      </ion-card-content>
    </ion-card>
  </div>

  <ion-item>
    <ion-input type="text" label="Nuevo Titulo" label-placement="stacked" [(ngModel)]="title"></ion-input>
  </ion-item>
</div>
