.title {
  font-size: 12px;
  font-weight: 700;
}

.date-title {
  color: black;
}

ion-item {
  --ion-background-color: #BB27A7;
  --ion-item-background: #BB27A7;
  --ion-border-color: transparent;
}

ion-card {
  --background: rgba(255, 255, 255, 0.95);
  --ion-background-color: var(--background);
  border-radius: 2px;
  min-height: 100px;
  width: min(calc(100% - 32px), 400px);
  --ion-text-color: #BB27A7;
  margin-bottom: 0;
}

ion-card-header {
  font-size: 14px;
  color: #BB27A7;
  padding-top: 20px;
}

ion-card-content {
  padding-bottom: 20px;
}

ion-button {
  position: absolute;
  margin-left: auto;
  right: 1px;
  top: 1px;
  display: flow;
  width: fit-content;
}

ion-accordion-group {
  bottom: 1px;
  color: #BB27A7;
  position: relative;
}

.details-btn {
  color: #525252;
}

span.ion-text-left {
  margin-right: auto;
}
